<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wlw2_11.planefight">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SecondActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".sounds.MusicServer">
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.user.firstapp.FIRST_SERVICE" />
            </intent-filter>
        </service>

        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.Main1Activity" />
        <activity android:name=".Activity.Main2Activity" />
        <activity android:name=".Activity.SelectActivity" />
        <activity android:name=".Activity.HelpActivity" />
        <activity
            android:name=".Activity.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>